<label class="mt-60 ml-4" for="basic-url">Username</label>
<div class="col-sm-6 col-lg-6 ml-4 input-group mb-3">
  <input type="text" class="form-control" placeholder="Email or phone number" aria-label="Username">
</div>

<label class="ml-4" for="basic-url">Password</label>
<div class="col-sm-6 col-lg-6 ml-4 input-group mb-3">
  <input type="text" class="form-control" placeholder="At least ten characters, contain at least 1 uppercase and 1 special character" aria-label="Recipient's username" aria-describedby="basic-addon2">
</div>

<label class="ml-4" for="basic-url">Retype password</label>
<div class="col-sm-6 col-lg-6 ml-4 input-group mb-3">
  <input type="text" class="form-control" placeholder="Retype password again" aria-label="Recipient's username" aria-describedby="basic-addon2">
</div>

<input class="btn btn-primary ml-4" type="submit" value="Register">