<div class="card-body">
    <a href="/login">
        <h5 class="card-title">Đăng nhập</h5>
    </a>
</div>

<div class="card-body">
    <a href="/register">
        <h5 class="card-title">Đăng kí</h5>
    </a>
</div>